.login-container {
  width: 100%;
  height: calc(100% - 28px);
  display: flex;
  align-items: center;
  justify-self: flex-start;
  .ads {
    flex: 1;
    text-align: center;
  }
  .login {
    flex: 1;
    display: flex;
    justify-content: center;
    .body {
      width: 402px;
      height: 515px;
      background: #fff;
      border: 1px solid rgba(80, 87, 102, 0.2);
      border-radius: 12px;
      box-shadow: 0 0 10px 0 rgb(80 87 102 / 10%);
      .switch-login-type {
        height: 67px;
        width: 100%;
        border: 1px solid rgba(80, 87, 102, 0.2);
      }
      .login-content {
        height: 446px;
        width: 100%;
        border: 1px solid rgba(80, 87, 102, 0.2);
      }
    }
  }
}